div {
    background-color: black;
    padding-top: 15px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 600;
  }
  
  .card-text {
    margin-bottom: 0.4rem;
  }
  
  .btn-sm {
    font-size: 0.85rem;
  }
  